<!--users/templates/base.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Other head elements -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <!-- Body content -->
</body>
</html>
<!--users/templates/base.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Other head elements -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <!-- Body content -->
</body>
</html>
